<span class="flex justify-between text-base font-semibold text-gray-900 dark:text-white mb-4">
	<h1 class="my-auto text-2xl">Here are your characters</h1>

	<a
		class="block text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
		id="newCharacterModalButton"
		routerLink="/characters/new"
	>
		<span class="hidden md:inline">
			New character
		</span>
		<span class="md:hidden">
			<svg aria-hidden="true" class="w-6 h-6 text-white" fill="none" height="24" viewBox="0 0 24 24" width="24"
					 xmlns="http://www.w3.org/2000/svg">
				<path d="M5 12h14m-7 7V5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
							stroke-width="2"/>
			</svg>
		</span>
	</a>
</span>

@if (!userCharacters) {
	<p class="text-center">Loading...</p>
}

@if (userCharacters?.length === 0) {
	<p class="text-center">You have no characters yet. Create one now!</p>
}

<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2">
	@for (character of (userCharacters || []); track character.id) {
		<app-character-card
			[character]="character"
		/>
	}
</div>
