<div class="flex justify-between text-gray-800 dark:text-white">
	<a
		class="flex justify-between my-auto items-center bg-gray-200 dark:bg-gray-800 p-2 rounded-lg hover:bg-gray-300 dark:hover:bg-gray-700 hover:cursor-pointer" role="button"
		routerLink="/classes" title="Go back to classes list"
	>
		<svg aria-hidden="true" class="w-6 h-6 text-gray-800 dark:text-white" fill="none" height="24"
				 viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
			<path d="m15 19-7-7 7-7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
		</svg>

		Back to classes
	</a>

	<h1 class="text-2xl font-semibold text-gray-900 dark:text-white">
		{{ characterClass?.name }}
	</h1>

	<span class="flex gap-2">
		@if (characterClass && userType === "admin") {
			<a
				[routerLink]="['/classes', characterClass.id, 'edit']"
				class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white flex items-center justify-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 bg-primary-700 hover:bg-primary-800 focus:ring-primary-300"
				title="Edit character class"
			>
				<svg aria-hidden="true" class="w-6 h-6 text-white" fill="none" height="24" viewBox="0 0 24 24"
						 width="24" xmlns="http://www.w3.org/2000/svg">
					<path
						d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
						stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
						stroke-width="2"/>
				</svg>
			</a>

			<app-delete-character-class-button [characterClass]="characterClass"/>
		}
	</span>

</div>

<article class="mt-4">
	<dl class="grid grid-cols-1 gap-4 sm:grid-cols-2">

		<dt class="font-semibold">
			Description
		</dt>
		<dd>
			{{ characterClass?.description }}
		</dd>

		<dt class="font-semibold">Maximum health for class</dt>
		<dd>
			{{ characterClass?.maxHealth }}
		</dd>
	</dl>

	<h2 class="text-lg font-semibold text-gray-900 dark:text-white mt-8">
		Characters
	</h2>
	<div class="relative overflow-x-auto">
		<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
			<tr>
				<th class="px-6 py-3" scope="col">
					Name
				</th>
				<th class="px-6 py-3" scope="col">
					Gold
				</th>
				<th class="px-6 py-3" scope="col">
					Health
				</th>
				<th class="px-6 py-3" scope="col">
					Action
				</th>
			</tr>
			</thead>
			<tbody>
				@if (characters.length === 0) {
					<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
						<td class="px-6 py-4 text-center" colspan="4">
							No characters found
						</td>
					</tr>
				}

				@for (character of characters; track character.id) {
					<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
						<th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" scope="row">
							{{ character.name }}
						</th>
						<td class="px-6 py-4">
							{{ character.gold }}
						</td>
						<td class="px-6 py-4">
							{{ character.health.current }} / {{ character.health.max }}
						</td>
						<td class="px-6 py-4">
							<a routerLink="/characters/{{ character.id }}" class="text-indigo-600 hover:text-indigo-900 dark:text-indigo-400 dark:hover:text-indigo-600">View</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</article>
